@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  height: 100%;
}

#__next {
  background: #f4f7ff;
  height: 100vh;
}

.section-shadow {
  background: #f4f7ff;
  box-shadow: 14px 24px 16px rgba(28, 38, 71, 0.05), inset 3px 4px 4px #ffffff;
  border-radius: 25px;
}

*:focus {
  outline: none;
}
